<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>redactor</name>
	<displayName><![CDATA[Redactor]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Generar descripciones mediante la API de redacta.me]]></description>
	<author><![CDATA[Sergio]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
